<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru-RU"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav th:fragment="navi(cartSize)" class="custom-color">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a th:href="@{'/'}">ГЛАВНАЯ</a></li>
                <li><a th:href="@{'/'}">О НАС</a></li>
                <li><a th:href="@{'/'}">КОНТАКТЫ</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{'/login'}">ВОЙТИ</a></li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{'/logout'}" method="post">
                        <label style="color: white; text-transform: uppercase; font-size: 1rem;" for="logout">ВЫЙТИ</label>
                        <input id="logout" class="d-none" type="submit">
                    </form>
                </li>
                <li sec:authorize="isAuthenticated()"><a th:text="${#session.getAttribute('login')}" th:href="@{'/'}"></a></li>
                <li><a th:href="@{'/cart'}" th:text="'Корзина: ' + ${cartSize}"></a></li>
            </ul>
        </div>
    </nav>
</html>
