<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru-RU">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" th:href="@{'/css/materialize.css'}">
    <link rel="stylesheet" th:href="@{'/css/style.css'}">
    <title>Hello, world!</title>
</head>
<body>
    <div style="height: 100vh; display: flex; justify-content: center; align-items: center">
        <h1>Error 404. Not found</h1>
    </div>
</body>
</html>
