<!doctype html>
<html lang="ru-ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Файловое хранилище</title>
</head>
    <body>
        <section class="my-5">
            <div class="container">
                <h1 class="text-center" th:text="'Привет, ' + ${#session.getAttribute('login')}"></h1>
                <h3 class="text-center">Твой список файлов</h3>

                <p class="text-center" th:if="${files.size() == 0}">Файлов нет</p>

                <table th:unless="${files.size() == 0}" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Размер</th>
                            <th scope="col">Сохраненен</th>
                            <th scope="col">Удалить</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="file : ${files}">
                            <td>
                                <a th:text="${file.name}" th:href="@{'/media/' + ${dirname} + '/' + ${file.name}}"></a>
                            </td>
                            <td th:text="${file.size}"></td>
                            <td th:text="${file.savedAt}"></td>
                            <td>
                                <form th:action="@{'/deleteFile'}" method="post">
                                    <input type="text" style="display: none" name="fileId" th:value="${file.id}">
                                    <button type="submit" class="btn btn-danger">Удалить</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section>
            <div class="container">
                <form th:action="@{'/addFile'}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="addFileInput">Добавить файл</label>
                        <input type="file" class="form-control" id="addFileInput" placeholder="Добавить файл" name="file" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <p th:if="${error}" th:text="${error}"></p>
            </div>
        </section>

        <section>
            <div class="container">
                <form th:action="@{'/logout'}" method="post">
                    <label for="exit" style="cursor: pointer;">Выход</label>
                    <input id="exit" type="submit" style="display: none;">
                </form>
            </div>
        </section>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
